<?xml version="1.0"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
    <targets>
        <target
            name="debugger"
            xsi:type="OutputDebugString"
            layout="[${date:format=HH\:mm\:ss}] ${callsite:className=True:methodName=False} ${message} ${newline}"
        />
        <target
                name="file-all"
                xsi:type="File"
                fileName="${basedir}/logs/debug.txt"
                archiveFileName="${basedir}/logs/archives/debug.{#}.txt"
                archiveEvery="Hour"
                archiveNumbering="Rolling"
                maxArchiveFiles="120"
                layout="${date:format=MM-dd HH\:mm\:ss} | [${level}] | ${logger}${newline}Thread: ${threadid} | User: ${identity} | ${stacktrace} ${newline}${message} ${newline}"
        />
        <target
                 name="file-info"
                 xsi:type="File"
                 fileName="${basedir}/logs/info.txt"
                 archiveFileName="${basedir}/logs/archives/info.{#}.txt"
                 archiveEvery="Day"
                 archiveNumbering="Rolling"
                 maxArchiveFiles="120"
                 layout="${date:format=MM-dd HH\:mm\:ss} | [${level}] | ${logger}${newline}IP: [${aspnet-request:serverVariable=remote_addr} | ${aspnet-request:serverVariable=remote_host}],browser: ${aspnet-request:serverVariable=http_user_agent}${newline}referer: ${aspnet-request:serverVariable=http_referer}${newline}Thread: ${threadid} | User: ${identity} | ${stacktrace} ${newline}${message} ${newline}"
        />
    </targets>
    <rules>
        <logger name="*" writeTo="debugger"/>
        <logger name="*" writeTo="file-all"/>
        <logger name="*" minlevel="Info" writeTo="file-info"/>
    </rules>
</nlog>