<?xml version="1.0"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
    <targets>
        <target
            name="debugger"
            xsi:type="OutputDebugString"
            layout="[${date:format=HH\:mm\:ss}] ${callsite:className=True:methodName=False} ${message} ${newline}"
            />
    </targets>
    <rules>
        <logger name="*" writeTo="debugger"/>
    </rules>
</nlog>