<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HtmlAgilityPack" version="1.4.3" />
  <package id="Nancy" version="0.10.0" />
  <package id="Nancy.Hosting.Aspnet" version="0.10.0" />
  <package id="Nancy.Viewengines.Razor" version="0.10.0" />
  <package id="Simple.Data.Ado" version="1.0.0-beta2" />
  <package id="Simple.Data.Core" version="1.0.0-beta2" />
  <package id="Simple.Data.SqlCompact40" version="1.0.0-beta2" />
</packages>