<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="razor" type="Nancy.ViewEngines.Razor.RazorConfigurationSection, Nancy.ViewEngines.Razor" />
    </configSections>
    <appSettings>
        <add key="webPages:Enabled" value="false" />
        <add key="rssMixxxer.title" value="Polscy MVP" />
        <add key="rssMixxxer.maxItems" value="75" />
        <add key="rssMixxxer.interval_seconds" value="15" />
        <add key="rssMixxxer.src" value="
http://feeds.feedburner.com/maciejaniserowicz;
http://feeds.feedburner.com/jakubg;
http://maciejgrabek.com/feed;
http://blogs.technet.com/b/plitpromicrosoftcom/rss.aspx?Tags=grzegorz+tworek;
http://swilczew.wordpress.com/feed;
http://www.pzielinski.com/?feed=rss2;
http://blog.porowski.pro/feed;
http://skalski.info/feed/rss2;
http://powerpivot.info.pl/feed;
http://sqlresearch.com/feed;
http://blog.kaluzny.pro/feed;
" />
    </appSettings>
    <razor disableAutoIncludeModelNamespace="false">
        <assemblies>
            <add assembly="msmvp_pl" />
        </assemblies>
        <namespaces>
            <add namespace="System" />
            <add namespace="System.Linq" />
            <add namespace="System.Collections.Generic" />
        </namespaces>
    </razor>
    <connectionStrings>
        <add name="msmvp_pl" connectionString="Data Source=|DataDirectory|\msmvp_data.sdf" />
        <add name="feed_cache" connectionString="Data Source=|DataDirectory|\local-feeds.sdf" />
    </connectionStrings>
    <system.web>
        <compilation debug="true" targetFramework="4.0">
            <buildProviders>
                <add extension=".cshtml" type="Nancy.ViewEngines.Razor.BuildProviders.NancyCSharpRazorBuildProvider, Nancy.ViewEngines.Razor.BuildProviders" />
                <add extension=".vbhtml" type="Nancy.ViewEngines.Razor.BuildProviders.NancyVisualBasicRazorBuildProvider, Nancy.ViewEngines.Razor.BuildProviders" />
            </buildProviders>
        </compilation>
        <httpHandlers>
            <add verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
        </httpHandlers>
    </system.web>
    <system.webServer>
        <validation validateIntegratedModeConfiguration="false" />
        <handlers>
            <add name="Nancy" verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
        </handlers>
    </system.webServer>
</configuration>