<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="razor" type="Nancy.ViewEngines.Razor.RazorConfigurationSection, Nancy.ViewEngines.Razor" />
    </configSections>
    <razor disableAutoIncludeModelNamespace="false">

        <assemblies>
            <add assembly="msmvp_pl" />
        </assemblies>


        <namespaces>
            <add namespace="System" />
            <add namespace="System.Linq" />
            <add namespace="System.Collections.Generic" />
        </namespaces>
    </razor>
    <connectionStrings>
        <add name="msmvp_pl"
            connectionString="Data Source=|DataDirectory|\msmvp_data.sdf"
        />
    </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpHandlers>
      <add verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="Nancy" verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </handlers>
  </system.webServer>
</configuration>