#####################
# Project-specific
#####################
src/msmvp_pl/logs
scripts/update-db.bat

#####################
# Visual Studio
#####################
*.user
*.suo
*.sln.cache

#####################
# Build
#####################
bin/
obj/

#####################
# Resharper
#####################
*.resharper
*\_ReSharper*
*_ReSharper*

#####################
# StyleCop
#####################
StyleCop.Cache

#####################
# nCrunch
#####################
*.ncrunchproject
*.ncrunchsolution
*.crunchsolution.cache
