@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{
    Layout = "_layout.cshtml";
}
@section Title{ O programie > }

<div class="aboutBox">
    <h2>O programie MVP</h2>
</div>
<div class="textBox">
<p>
    Patrząc w skali globalnej mamy do czynienia z rosnącą liczbą ludzi, którzy wykazują
    niezrównaną pasję i chęć pomocy innym poprzez dzielenie się swoim doświadczeniem
    technicznym, wskazówkami, poradami i imponującą wiedzą na temat technologii Microsoft.
    Ich działanie to trzon funkcjonowania internetowej społeczności użytkowników, klientów
    i partnerów działających aktywnie w ramach grup offline i innych obszarów skupiających
    wokół siebie IT Pro i Developerów. To właśnie oni pomagają ludziom osiągać szczyty
    własnego potencjału, możliwego do wykorzystania dzięki ponadprzeciętnej znajomości
    produktów i technologii Microsoftu. Najlepsi z najlepszych, aktywni uczestnicy tej
    technicznej społeczności nagradzani są tytułami Microsoft Most Valuable Professionals
    (MVP).
</p>
<p>
    W jaki sposób można zostać MVP? Nie ma jednego, pewnego sposobu gwarantującego otrzymanie
    tego tytułu. To na co jednak Microsoft zwaraca szczególną uwagę to po pierwsze niekwestionowana,
    bardzo profesjonalna wiedza z zakresu przynajmniej jednego produktu Microsoft. I
    tu sprawa jest dość jasna. Po drugie aktywna działalność w ramach Społeczności IT.
    Form tej działalności jest bardzo wiele. Można działać w ramach społeczność online
    uczestnicząc w forach, dyskusajch, prowadząc bloga czy po przez pisanie artykułów.
    Można działać również w ramach grup pasjonackich (grup offline) prowadząc prelekcje,
    wykłady czy biorąc udział w ciekawych dyskusjach podczas spotkania. Można też samemu
    założyć grupę. Ważne jest jedno – dzielenie się swoją wiedzą z innymi .
</p>
<p>
    Tytuł MVP przyznawany jest przez Microsoft na 12 miesięcy za dotychczasową działalność
    indywidualną. Czas pomiędzy poszczególnymi nominacjami uważany jest za okres, w
    którym posiadacze certyfikatów mogą legitymować się aktualnym tytułem MVP z danego
    roku oraz cieszyć się wszystkimi korzyściami z tym związanymi.
</p>
<h3>Kim są MVP</h3>
<p>
    Laureaci nagrody Microsoft Most Valuable Professionals (MVP) to pasjonaci, wyjatkowi
    specjaliści i profesjonaliści szeroko rozpoznawani w Społeczności IT. Charakteryzuje
    ich ogromne zaangażowanie, aktywność, pasja, celność spostrzeżeń i wypowiedzi oraz
    chęć dzielenia się swoim bogatym doświadczeniem technicznym z innymi oraz stałe
    wpieranie społeczności gromadzącej się wokół Microsoft.
</p>
</div>