@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{
    Layout = "_layout.cshtml";
}
<h1>FAQ</h1>
<h3>
    Czym jest tytuł MVP?</h3>
<p>
    Tytuł Microsoft Most Valuable Professionals (MVP) to nagroda przyznawana przez firmę
    Microsoft dla wyjątkowych specjalistów IT oraz developerów za ich nieprzeciętną
    wiedzę oraz za wkład w rozwój Społeczności IT, której stanowia trzon.</p>
<h3>
    Jak mogę zostać MVP?</h3>
<p>
    Nie ma prostego przepisu, planu czy sposobu, który jednoznacznie mógłby zagwarantować
    otrzymanie tytułu MVP. Jeśli Twoja przygoda ze Społecznością IT (offline bądź online)
    zaczęła się niedawno, nie oczekuj że staniesz się jednym z liderów z dnia na dzień.
    Zapracowanie na to, by Twoja osoba zyskała szacunek i powszechną rozpoznawalność
    wymaga czasu. Więcej na ten temat przeczytaj <a href="http://www.microsoft.com/poland/communities/mvp/join.mspx">
        tutaj</a>
</p>
<h3>
    Jak przyznawany jest tytuł MVP?</h3>
<p>
    Tytuł MVP przyznawany jest przez wewnętrzną komisję Microsoft z pośród osób nominowanych
    do tego tytułu.
</p>
<h3>
    Na jak długo wyróżniona osoba otrzymuje tytuł MVP?</h3>
<p>
    Tytuł MVP przyznawany jest na rok czasu za dotychczasową działalność. Czas pomiędzy
    poszczególnymi nominacjami uważany jest za okres, w którym posiadacze certyfikatów
    mogą legitymować się aktualnym tytułem MVP z danego roku oraz cieszyć się wszystkimi
    korzyściami z tym związanymi.
</p>
<h3>
    Po co Microsoft przyznaje MVP?</h3>
<p>
    Microsoft wierzy, że prężna, aktywna społeczność użytkowników są kluczem do tego,
    żeby maksymalizować potencjał klientów i zwiększać ich korzyści z inwestowania w
    rozwiązania IT. Tytuł MVP przyznawany jest tym, którzy swoją działalnością wywarli
    istotny, pozytywny wpływ na techniczną społeczność. Microsoft chce, by liderzy społeczności
    wiedzieli, że ich wysiłek jest dostrzegany i doceniany - MVP to właśnie forma podziękowania
    za dotychcasowe osiągnięcia oraz motywacja i wsparcia do dalszej aktywności.
</p>
<h3>
    Czy MVP są opłacani przez Microsoft?</h3>
<p>
    Nie. Microsoft oferuje różnorodne wsparcie, między innymi w postaci oprogramowania,
    ale program MVP nie przewiduje żadnych gratyfikacji finansowych
</p>
<h3>
    Czy MVP są ekspertami w zakresie wszytkich technologii Microsoft?</h3>
<p>
    Nie. Mimo, że wielu z nich ma dogłębną wiedzę z wielu produktów, rozwiązań i technologii
    MS, nie są oni ekspertami z całego zakresu oferty Microsoft.
</p>
<h3>
    Czego Microsoft oczekuje od swoich MVP?</h3>
<p>
    Ponieważ nagroda i tytuł MVP opierają się na kryteriach uwzględniających działalność
    dotyczasową, Microsoft nie oczekuje od MVP niczego więcej poza kurtuazją, dalszym
    utrzymywaniem profesjonalizmu i respektowaniem zasad, których oczekuje się od wczystkich
    aktywnych uczestników społeczności internetowych Microsoftu.
</p>
<h3>
    Gdzie mogę szukać informacji na temat wszytkich MVP na świecie?</h3>
<p>
    Lista obecnych MVP jest dostępna na stronie <a href="https://mvp.support.microsoft.com/communities/mvp.aspx"
        target="_blank">https://mvp.support.microsoft.com/communities/mvp.aspx</a>
</p>