<!DOCTYPE html>
<html>
    <head>
        <title>@RenderSection("Title", false)Program Microsoft MVP w Polsce</title>
    </head>
    <body>
        <div>menu from layout</div>
        <div>@RenderBody()</div>
    </body>
</html>