<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
      <add key="webPages:Enabled" value="false" />
      <add key="rssMixxxer.title" value="Polscy MVP" />
      <add key="rssMixxxer.maxItems" value="75" />
      <add key="rssMixxxer.interval_seconds" value="5" />
      <add key="rssMixxxer.src" value="
http://feeds.feedburner.com/maciejaniserowicz;
http://feeds.feedburner.com/jakubg;
http://maciejgrabek.com/feed;
" />
  </appSettings>
</configuration>