<!doctype html>
<html>
	<head>
		<title>Program Microsoft MVP w Polsce</title>
		<meta charset="utf-8"/>
		<link rel="stylesheet" type="text/css" href="css/styles.css">
		<script type="text/javascript" src="http://code.jquery.com/jquery-latest.pack.js"></script>
		<script>
			$(function(){
				$('.boxItem>h2').click(function(){
					$(this).next().slideToggle();
				});
			});
		</script>
	</head>
	<body>
		<div class="wrapper">
			<header>
				<div class="logo">
					<a target="_blank" href="http://mvp.support.microsoft.com/"><img src="img/logoMvp.png" alt="logo MVP" /></a>
				</div>
				<nav>
					<ul>
						<li><a href="index.html">Strona główna</a></li>
						<li><a href="know.html">Lista polskich MVP</a></li>
						<li><a href="#">MVP RSS feed</a></li>
					</ul>
				</nav>
				<div class="question">
					<h3>Uwaga! Jesteś / byłeś MVP?</h3>
					<p>Chciałbyś dodać lub zmienić<br />dane na swój temat? - użyj<br /><a href="#">formularza kontaktowego</a></p>
				</div>
				<div class="title"><h1>Microsoft MVP w Polsce!</h1></div>
				<div class="clearfix"></div>
			</header>
			<div class="content">
				<div class="twitter">
					<div class="twitterHeader">
						<h4>Polscy MVP</h4>
						<h3>Co ćwierka w trawie?</h3>
					</div>
					<div class="twitterContent"></div>
					<div class="twitterFooter">
						<a target="_blank" href="https://twitter.com/"><img src="img/twitterIcon.png" alt="twitter icon" /></a>
						<a target="_blank" href="https://twitter.com/#!/search/from:maniserowicz%20OR%20from:gutek%20OR%20from:sagus%20OR%20from:bielawb%20OR%20from:d3m80l?q=from%3Amaniserowicz+OR+from%3Agutek+OR+from%3Asagus+OR+from%3Abielawb+OR+from%3Ad3m80l" class="twitterJoin">Join the conversation</a>
					</div>
				</div>
					<div class="historyBox">
						<div class="boxItem">
							<h2>2012</h2>
							<div class="boxItemContent">					
							    <h3>styczeń</h3>
							    <p>Do programu dołączyli</p>
							    <a href="#">Maciej Grabek (Windows Phone Development)</a>
							     <a href="#">Sebastian Wilczewski (Microsoft Project)</a>
							    <p>Z programu odeszli</p>
							     <a href="#">Jakub Binkowski (ASP.NET)</a>
							     <a href="#">Michał Kawecki (Windows Expert-Consumer)</a>
							     <a href="#">Grzegorz Mazur (Windows Expert-Consumer)</a>
							     <a href="#">Grzegorz Niemirowski (Windows Live Mail)</a>
							     <a href="#">Paweł Potasiński (SQL Server)</a>
							</div>
							<div class="clearfix"></div>	
						</div>
						<div class="boxItem">
							<h2>2011</h2>	
						</div>
						<div class="boxItem">
							<h2>2010</h2>	
						</div>
						<div class="boxItem">
							<h2>2009</h2>		
						</div>
						<div class="boxItem">
							<h2>2008</h2>	
						</div>
						<div class="boxItem">
							<h2>2007</h2>	
						</div>
						<div class="boxItem">
							<h2>2006</h2>		
						</div>
						<div class="boxItem">
							<h2>2005</h2>	
						</div>
						<div class="boxItem">
							<h2>2004</h2>	
						</div>
					</div>
				<div class="clearfix"></div>
			</div>
			<footer>
				<div class="footContent">
					<p>Powered by <a target="_blank" href="http://nancyfx.org/">NancyFx</a> & <a target="_blank" href="https://github.com/markrendle/Simple.Data">Simple.Data</a>.</p>
					<p>Created and maintained by <a target="_blank" href="http://www.maciejaniserowicz.com/">Maciej Aniserowicz</a> and <a target="_blank" href="https://github.com/maniserowicz/msmvppl/pulls">Contributors</a>. Layout/design by <a target="_blank" href="http://www.devcore.pl/start">DevCore.net</a>.</p>
					<p>Sources available on <a target="_blank" href="https://github.com/maniserowicz/msmvppl">GitHub</a>, feel free to contribute!</p>
				</div>
				<img src="img/devcore.png"/>
				<div class="clearfix"></div>
			</footer>
		</div>
	</body>
</html>