<!doctype html>
<html>
	<head>
		<title>Program Microsoft MVP w Polsce</title>
		<meta charset="utf-8"/>
		<link rel="stylesheet" type="text/css" href="css/styles.css">
		<script type="text/javascript" src="http://code.jquery.com/jquery-latest.pack.js"></script>
	</head>
	<body>
		<div class="wrapper">
			<header>
				<div class="logo">
					<a target="_blank" href="http://mvp.support.microsoft.com/"><img src="img/logoMvp.png" alt="logo MVP" /></a>
				</div>
				<nav>
					<ul>
						<li><a href="index.html">Strona główna</a></li>
						<li><a href="know.html">Lista polskich MVP</a></li>
						<li><a href="#">MVP RSS feed</a></li>
					</ul>
				</nav>
				<div class="question">
					<h3>Uwaga! Jesteś / byłeś MVP?</h3>
					<p>Chciałbyś dodać lub zmienić<br />dane na swój temat? - użyj<br /><a href="http://www.maciejaniserowicz.com/contact.aspx">formularza kontaktowego</a></p>
				</div>
				<div class="title"><h1>Microsoft MVP w Polsce!</h1></div>
				<div class="clearfix"></div>
			</header>
			<div class="content">
				<div class="banner">
					<h2>Witaj na stronie polskich MVP.</h2>
					<p>Informacje o programie...</p>
					<a target="_blank" href="http://mvp.support.microsoft.com/" class="bannerBtn">Oficjalna strona programu</a>
				</div>
				<div class="twitter">
					<div class="twitterHeader">
						<h4>Polscy MVP</h4>
						<h3>Co ćwierka w trawie?</h3>
					</div>
					<div class="twitterContent"></div>
					<div class="twitterFooter">
						<a target="_blank" href="https://twitter.com/"><img src="img/twitterIcon.png" alt="twitter icon" /></a>
						<a target="_blank" href="https://twitter.com/#!/search/from:maniserowicz%20OR%20from:gutek%20OR%20from:sagus%20OR%20from:bielawb%20OR%20from:d3m80l?q=from%3Amaniserowicz+OR+from%3Agutek+OR+from%3Asagus+OR+from%3Abielawb+OR+from%3Ad3m80l" class="twitterJoin">Join the conversation</a>
					</div>
				</div>
					<div class="clearfix"></div>
					<div class="mainBox">
						<a href="know.html" class="boxItem">
							<h2>Poznaj MVP</h2>
							<img src="img/knowBtn.png" alt="Poznaj MVP" />
						</a>
						<a href="about.html" class="boxItem">
							<h2>O programie</h2>
							<img src="img/aboutBtn.png" alt="O programie" />
						</a>
						<a href="history.html" class="boxItem">
							<h2>Historia</h2>
							<img src="img/historyBtn.png" alt="Historia" />
						</a>
						<a href="faq.html" class="boxItem">
							<h2>FAQ</h2>
							<img src="img/faqBtn.png" alt="FAQ" />
						</a>
					</div>
					<div class="clearfix"></div>
			</div>
			<footer>
				<div class="footContent">
					<p>Powered by <a target="_blank" href="http://nancyfx.org/">NancyFx</a> & <a target="_blank" href="https://github.com/markrendle/Simple.Data">Simple.Data</a>.</p>
					<p>Created and maintained by <a target="_blank" href="http://www.maciejaniserowicz.com/">Maciej Aniserowicz</a> and <a target="_blank" href="https://github.com/maniserowicz/msmvppl/pulls">Contributors</a>. Layout/design by <a target="_blank" href="http://www.devcore.pl/start">DevCore.net</a>.</p>
					<p>Sources available on <a target="_blank" href="https://github.com/maniserowicz/msmvppl">GitHub</a>, feel free to contribute!</p>
				</div>
				<img src="img/devcore.png"/>
				<div class="clearfix"></div>
			</footer>
		</div>
	</body>
</html>